<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143684120020-1387c3auskk5m76lbgo0ne0d40l5tvmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143684120020-1387c3auskk5m76lbgo0ne0d40l5tvmg</string>
	<key>API_KEY</key>
	<string>AIzaSyBT8Mx2GkeewMjwgsHs40nSqY4-pIQfmrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>143684120020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rm.worthnetwork</string>
	<key>PROJECT_ID</key>
	<string>worth-network</string>
	<key>STORAGE_BUCKET</key>
	<string>worth-network.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143684120020:ios:fa8da40b4b4f68b5b9fa41</string>
	<key>DATABASE_URL</key>
	<string>https://worth-network-default-rtdb.firebaseio.com</string>
</dict>
</plist>